/*  GENERIC STYLES FOR MULTIPLE SECTIONS  */
.section-caption{
    font-size: 2.8rem;
    color: var(--color-text);
    opacity: 0.2;
    font-family: "Roboto";
    font-weight: bold;
    display: block;
}
.code-window{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.code-container{
    padding: 0.2em 0.1em;
}
.code,.code span{
    font-size: 1rem;
    line-height: 1em;
    color: var(--color-text);
    font-family: "Roboto";
}
.code .text{
    color: #FF924A;
}
.code .var{
    color: #3282B8;
}
.code .comm{
    color: #3C6562;
}
.next-section-container{
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}
.next-section-caption{
    display: block;
    color: var(--color-text);
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
}
.next-section-button{
    display: block;
    font-size: 2rem;
    border: 0.2em solid var(--color-second);
    color: var(--color-second);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: 0.6em auto 0;
    transition: color 0.3s linear, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    animation: pulsing 1.5s infinite;
    -webkit-animation: pulsing 1.5s infinite;
    -o-animation: pulsing 1.5s infinite;
    -moz-animation: pulsing 1.5s infinite;
}
.next-section-button:hover{
    animation: none;
    -webkit-animation: none;
    -o-animation: none;
    -moz-animation: none;
    color: var(--color-text);
    background-color: var(--color-second);
    border-color: var(--color-text);
}
.next-section-button:hover i{
    transform: rotateY(180deg);
}
.next-section-button i {
    width: 1em;
    height:1em;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}
.poster{ 
    color: var(--color-text);
    background-color: var(--color-highlight);
    padding: 2em 2.5em 0.5em 2.5em;
    max-width: 30em;
    position: relative;
} 
.poster h2{
    font-size: 2.45rem;
    font-weight: bold;
    text-align: center;
}
.poster .line{
    width: 100%;
    display: block;
    margin-top: 0.35em;
    margin-bottom: 1em;
    border-top: 2px solid var(--color-text);
}
.poster .line::after{
    content: "";
    width: 50%;
    display: block;
    margin: 0 auto;
    background-color: var(--color-text);
    height: 0.5em;
    clip-path: polygon(100% 0, 0 0, 50% 50%);
}
.poster p{
    font-size: 1.25rem;
    margin-bottom: 0;
}
.poster img{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.btn{
    font-family: "Source sans pro";
    border: none;
    outline: none;
}
.btn-second{
    background-image: linear-gradient(180deg, var(--color-second) 0%, var(--color-second2) 200%);
    padding: 0.2em 1em;
    color: var(--color-white);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 300%;
    transition: background-position 0.1s linear;
}
.btn-second:hover{
    color: var(--color-white);
    background-position: 0 100%;
}

.btn-dark{
    padding: 0.2em 1em;
    background: linear-gradient(180deg, #151515 0%, #252525 200%);
    color: var(--color-white);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 300%;
    transition: background-position 0.1s linear;
}
.btn-dark:hover{
    color: var(--color-white);
    background-position: 0 100%;
}
/*  ABOUT SECTION  */
.about-content-container{
    margin-top: 12.5rem;
}
.about-content-container .section-caption{
    margin-left: 2%;
    transform:rotateZ(-1.5deg);
}
.about-content{
    margin-left: 5%;
    margin-top: 1.2rem;
}
.about-content h1{
    color: var(--color-text);
    font-family: "Roboto";
    font-weight: bold;
    font-size: 5rem;
    line-height: 0.9em;
}
.about-content h1 .heading-caption{
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 4rem;
}
.about-content .about-description{
    margin-top: 1em;
    color: var(--color-text);
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Roboto";
    max-width: 55%;
    line-height: 1.2em;
}
.about-code{
    margin-top: 2.5em;
    transform: rotateZ(3deg);
}
.about-image{
    position: absolute;
    right: 5%;
    bottom: 100%;
    min-width: 450px;
    width: 35%;
    max-height: 350px;
}
.about-image img{
    width: 100%;
    height: 100%;
}
.emoji{
    display:inline-block;
}
.emoji:hover{
    cursor:default;
}
.rocket{
    animation: rotateY 1s linear;
    -webkit-animation: rotateY 1s linear;
    -moz-animation: rotateY 1s linear;
    -o-animation: rotateY 1s linear;
}
.rocket:hover{
    animation: rotateY 5s linear infinite;
    -webkit-animation: rotateY 5s linear infinite;
    -moz-animation: rotateY 5s linear infinite;
    -o-animation: rotateY 5s linear infinite;
}
.hand{
    animation: rotateZ 1s ease-in-out;
    -webkit-animation: rotateZ 1s ease-in-out;
    -moz-animation: rotateZ 1s ease-in-out;
    -o-animation: rotateZ 1s ease-in-out;
    transform-origin: right bottom;
}
.about-image i {
    display: block;
    position: absolute;
    z-index: 20;
    width: 3rem;
    height: 3rem;
    top: 4rem;
    right: 40%;
    background: url("images/cogwheel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: invert(0.5);
    -webkit-animation: barrelRoll 2s infinite linear;
    -moz-animation: barrelRoll 2s infinite linear;
    -o-animation: barrelRoll 2s infinite linear;
    animation: barrelRoll 2s infinite linear;
    animation-play-state: paused;
}
.about-image i:last-of-type {
    top: calc(4rem + 0.4em);
    right: calc(40% + 2.5em);
    animation-name: invertBarrelRoll;
}
.about-image:hover > i {
    animation-play-state: running;
}

/*  PROJECTS SECTION  */
.projects-content-container{
    margin-top: 12.5rem;
}
.projects-content-container .section-caption{
    transform:rotateZ(-1.5deg);
}
.projects-content{
    display: flex;
    flex-flow: row nowrap;
}
.projects-side{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 40%;
    position: relative;
}
.projects-code{
    margin-top: 4em;
    margin-right: 2em;
    transform: rotateZ(-3deg);
}
.projects-code pre{
    padding-bottom: 1.2em;
}
.project-main-container{
    flex-basis: 60%;
    margin-top: -7em;
}
.project-showcase-container{
    width: 85%;
    margin: 1em 3em 0 auto;
}
.project-main-container .section-caption{
    margin-left: -2em;
}

.project-showcase{
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: top left;
    transform: rotateZ(-1deg);
    padding: 0;
}
.project-showcase.netblog{
    background-image: url("images/netblog.PNG");
}
.project-showcase.pathfinding{
    background-image: url("images/pathfinding_banner.PNG");
}
.project-showcase.sorting{
    background-image: url("images/sorting.PNG");
}
.project-showcase > div{
    display: none;
    border: 0.3em solid var(--color-highlight);
    background-color:rgba(0, 0, 0, 0.85);
    height: 100%;
    width: 100%;
}
.project-showcase.netblog .content-netblog{
    display: block;
}
.project-showcase.pathfinding .content-pathfinding{
    display: block;
}
.project-showcase.sorting .content-sorting{
    display: block;
}
.project-selection{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.project-selection > div{
    color: var(--color-text);
    font-size: 1.2rem;
    margin-top: -4em;
    height: 10em;
    flex-basis: 31%;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    transform: skewX(-18deg);
}
.selection-main{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3px 3px 3px 0;
    background-color:var(--color-highlight);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 80%);
}
.netblog .selection-main{
    padding: 3px;
}
.selection-main-image-container{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 80%);
}
.selection-main-image{ 
    height: 100%;
    width: 125%;
    margin-left: -12.5%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transform: skewX(18deg);
}
.project-selection .netblog .selection-main-image{
    background-image: url("images/netblog.PNG");
}
.project-selection .netblog:hover .selection-main-image{
    background-image: url("images/netblog.gif");
}
.project-selection .pathfinding .selection-main-image{
    background-image: url("images/pathfinding.PNG");
}
.project-selection .pathfinding:hover .selection-main-image{
    background-image: url("images/pathfinding.gif");
}
.project-selection .sorting .selection-main{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 20% 100%, 0 80%);
}
.project-selection .sorting .selection-main-image-container{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 20% 100%, 0 80%);
}
.project-selection .sorting .selection-main-image{
    background-image: url("images/sorting.PNG");
}
.project-selection .sorting:hover .selection-main-image{
    background-image: url("images/sorting.gif");
}
.selection-caption{
    height: 2rem;
    font-family: "Source sans pro";
    background-color: var(--color-highlight);
}
.selection-caption span{
    display: inline-block;
    font-family: inherit;
    transform: skewX(18deg);
}
.selection-show-more{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.project-selection > div:hover .selection-show-more{
    cursor: pointer;
    opacity: 1;
}
.project-about{
    box-sizing: border-box;
    color: var(--color-white);
    font-weight: normal;
    padding: 1.5rem 1rem 3rem;
    transform: rotateZ(1deg);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.project-about-section{
    flex-grow: 1;
}
.project-about h3{
    font-weight: bold;
    color: #31B78D;
}
.project-about h5{
    color: var(--color-second2);
}
.project-about p, .project-about li{
    line-height: 1.3em;
}
.project-about p, .project-about li i{
    margin-right: 0.5em;
}
.project-about-links .btn-dark i{
    margin-right: 1em;
}
.project-about-links .btn-second i{
    margin-left: 1em;
    color: #62A388;
    border-radius: 50%;
    text-shadow: none;
    background-color: white;
}
.project-about-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

/*  CONTACT SECTION  */
.contact-content{
    margin-top: 9em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.contact-main-container{
    flex-grow: 1;
    margin-left: 5rem;
    font-size: 1.5rem;
}
.contact-main{
    color: var(--color-text);
    display: flex;
    flex-flow: row nowrap;
    margin-left: 3rem;
    font-family: "Roboto";
    font-weight: bold;
    gap: 2em;
}
.contact-section h3{
    color: var(--color-second);
    font-size: 1.3em;
    font-weight: bold;
    font-family: inherit;
}
.contact-section li{
    font-size: 0.9em;
    font-family: inherit;
}
.contact-section li i, .contact-section li img{
    margin-right: 0.5em;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer{
    background-color: var(--color-main2);
    padding: 0 15%;
    margin: 0 auto;
}
.footer .contact-main{
    justify-content: space-evenly
}
.footer hr{
    width: 100%;
    border-top: 0.1em solid var(--color-white);
    margin: 0;
    opacity: 1;
}
.footer-bottom-links{
    color: var(--color-text);
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: center;
    height: 3em;
}
.footer-bottom-link{
    font-family: "Roboto";
    transition: color 0.2s linear, transform 0.2s linear;
}
.footer-bottom-link:hover{
    cursor: pointer;
    transform: translateY(-5px);
    color: var(--color-second2);
}



@media screen and (max-width: 1440px){
    .about-code{
        justify-content: flex-end;
        margin-right: 5%;
        margin-top: -7em;
    }
    .projects-content-container{
        margin-top: 5em;
    }
    .project-main-container{
        margin-top: -1rem;
    }
    .project-main-container .section-caption{
        margin-left: 1rem;
    }
    .project-selection > div{
        height: 8em;
    }
    .poster{
        max-width: fit-content;
        height: fit-content;
    }
    .poster h1{
        font-size: 2rem;
    }
    .poster p{
        font-size: 1rem;
    }
    .project-about h5{
        font-size: 1.2rem;
    }
    .project-about p, .project-about li{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1024px){
    .about-content .about-description{
        margin: 1.2em auto 0;
        max-width: 100%;
        padding: 0 0.5em;
    }
    .about-image{
        display: none;
    }
    .next-section-container{
        position: relative;
        bottom: auto;
        margin-top: 1em;
        padding-bottom: 1em;
    }
    .about-code{
        justify-content: center;
        margin-right: 0;
        margin-top: 3em;
    }
    .project-main-container{
        margin-top: 1.5rem;
    }
    .project-showcase-container{
        margin: 1em auto;
    }
    .project-showcase{
        height: 75vh;
        max-height: 60vw;
    }
    .projects-content{
        flex-flow: column nowrap;
    }
    .projects-code{
        display: none;
    }
    .poster{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }
    .project-about-links{
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px){
    .about-content{
        margin-left: 0;
        margin-top: 1.2rem;
    }
    .about-content h1{
        text-align: center;
    }
    .code-window{
        transform: none;
    }
    .project-showcase-container{
        margin: 1em 0;
        width: 100%;
    }
    .project-selection{
        flex-flow: column nowrap;
    }
    .project-selection > div{
        width: 70vw;
        max-width: 20rem;
        margin-top: 1em;
        transform: none;
    }
    .project-showcase{
        max-height: none;
    }
    .selection-main{
        clip-path: none;
    }
    .selection-main-image-container{
        clip-path: none;
    }
    .project-selection .sorting .selection-main{
        clip-path: none;
    }
    .project-selection .sorting .selection-main-image-container{
        clip-path: none;
    }
    .selection-main-image{
        transform: none;
    }
    .selection-caption span {
        transform: none;
    }
    .project-showcase{
        transform: none;
        width: 100%;
        height: auto;
    }
    .project-about{
        transform: none;
    }
    .contact-content{
        flex-flow: column nowrap;
        gap: 1em;
        margin-bottom: 50vh;
    }
    .contact-main-container{
        width: 100%;
        margin-left: 0;
    }
    .contact-main{
        margin-left: 0;
        padding: 0 1em;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 560px){
    .code-window{
        flex-basis: 100%;
        margin: 1em 0;
        padding:0;
    }
    .code-container{
        width: 100%;
    }
    .code-window .section-caption{
        display: none;
    }
    .project-selection > div{
        max-width: none;
        width: 95%;
        margin-top: 2rem;
        height: 15rem;
    }
    .contact-main-container{
        width: 100%;
    }
    .contact-main{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .contact-content{
        flex-flow: column nowrap;
        gap: 1em;
    }
    .contact-section ul{
        padding: 0;
    }
    .footer{
        padding: 0 5px;
    }
    .footer-bottom-links{
        justify-content: center;
    }
    .poster{
        width: 100%;
        max-width: none;
    }
}



@keyframes rotateY {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
@-webkit-keyframes rotateY {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
@-o-keyframes rotateY {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
@-moz-keyframes rotateY {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes rotateZ {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(20deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@-webkit-keyframes rotateZ {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(20deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@-o-keyframes rotateZ {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(20deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@-moz-keyframes rotateZ {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(20deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}


@keyframes barrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes barrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-o-keyframes barrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes barrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes invertBarrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}
@-webkit-keyframes invertBarrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}
@-o-keyframes invertBarrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}
@-moz-keyframes invertBarrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes pulsing {
    0% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0.5);
    }
    70% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 20px rgba(232, 69, 69, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0);
    }
}
@-webkit-keyframes pulsing {
    0% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0.5);
    }
    70% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 20px rgba(232, 69, 69, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0);
    }
}
@-o-keyframes pulsing {
    0% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0.5);
    }
    70% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 20px rgba(232, 69, 69, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0);
    }
}
@-moz-keyframes pulsing {
    0% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0.5);
    }
    70% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 20px rgba(232, 69, 69, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0px 0px 0px 0px rgba(232, 69, 69, 0);
    }
}

@keyframes emptyanim { }