header{
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.navbar{
    font-weight: 600;
    width: 100%;
    padding: 0;
}
.navbar-brand{
    font-size: 2rem;
    margin-left: 0.5em;
    font-family: "Roboto";
}
.navbar-brand .brand-m{
    display: inline-block;
    background-image: -webkit-linear-gradient(left, var(--color-text) 50%, #31B78D 50%);
    background-repeat: no-repeat;
    background-position: 0px 0;
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.2s linear, transform 0.1s ease-out;
}
.navbar-brand:hover{
    cursor: pointer;
}
.navbar-brand:hover .brand-m{
    background-position: -8em center;
    transform: scale(1.1);
}
.navbar-brand .brand-l{
    display: inline-block;
    color: var(--color-second);
    transition: color 0.3s linear, transform 0.3s ease-out;
}
.navbar-brand .brand-r{
    display: inline-block;
    color: var(--color-second);
    transition: color 0.3s linear, transform 0.3s ease-out;
}
.navbar-brand:hover .brand-l{
    color:var(--color-second2);
    transform: translateX(-0.2em);
}
.navbar-brand:hover .brand-r{
    color:var(--color-second2);
    transform: translateX(0.2em);
}

.navbar-nav{
    margin: 0 10% 0 auto;
}
.nav-item{
    padding: 0.5em 0.1em;
    margin-right: 1em;
    text-align: center;
}
.nav-item.active{
    border-top: 0.3em solid var(--color-second);
}
.nav-link{
    font-size: 1.5rem;
    font-family: "Roboto";
    position: relative;
    transition: color 0.1s linear, transform 0.1s ease-in-out;
    cursor: pointer;
}
.nav-link::before{
    position: absolute;
    width: 0%;
    top: 50%;
    left: 50%;
    border-top: 1px solid var(--color-highlight);
    content: "";
}
.nav-link::after{
    position: absolute;
    width: 0%;
    bottom: 50%;
    left: 50%;
    border-top: 1px solid var(--color-highlight);
    content: "";
}
.nav-link:hover{
    color: var(--color-second2);
    transform: scale(1.1);
}
.nav-link:hover::before{
    animation: navlink_before 0.2s linear;
    -webkit-animation: navlink_before 0.2s linear;
    -moz-animation: navlink_before 0.2s linear;
    -o-animation: navlink_before 0.2s linear;
}
.nav-link:hover::after{
    animation: navlink_after 0.2s linear;
    -webkit-animation: navlink_after 0.2s linear;
    -moz-animation: navlink_after 0.2s linear;
    -o-animation: navlink_after 0.2s linear;
}   

.navbar-toggler{
    font-size: 2rem;
}

/* ANIMATION - NAV-LINK */
@keyframes navlink_before {
    0%{
        top: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        top: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        top: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}
@-webkit-keyframes navlink_before {
    0%{
        top: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        top: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        top: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}
@-moz-keyframes navlink_before {
    0%{
        top: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        top: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        top: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}
@-o-keyframes navlink_before {
    0%{
        top: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        top: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        top: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}

@keyframes navlink_after {
    0%{
        bottom: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        bottom: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        bottom: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}
@-webkit-keyframes navlink_after {
    0%{
        bottom: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        bottom: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        bottom: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}
@-moz-keyframes navlink_after {
    0%{
        bottom: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        bottom: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        bottom: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}
@-o-keyframes navlink_after {
    0%{
        bottom: 50%;
        width: 0;
        left: 50%;
        border-color: var(--color-highlight);
    }
    60%{
        bottom: 20px;
        width: 100%;
        left: 0;
        transform: scaleY(1.5);
        border-color: var(--color-highlight);
    }
    100%{
        transform: scaleY(1.5);
        width: 100%;
        left: 0;
        bottom: 10px;
        border-color: rgba(232, 69, 69,0.2);
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .navbar-nav{
        margin: 0 auto;;
    }
    .nav-item.active{
        border: none;
        color: var(--color-second2);
    }
    .navbar::after{
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--color-main);
        pointer-events: none;
        z-index: -1;
    }
}
@media screen and (max-width: 560px) {
    .navbar-brand{
        font-size: 1.8rem;
    }
}