@import "fonts.scss";

// Colors
$text: #fff;
$light: #e8e6c0;
$gold: #ecac31;
$darkgold: #ff7426;
$background: #272d5e;

// Render layers
$layerBackground: 0;
$layerCloudsAlt: 10;
$layerLanterns: 20;
$layerCloudsLower: 30;
$layerSun: 40;
$layerCloudsUpper: 50;
$layerContent: 60;


* {
    padding: 0; 
    margin: 0;
}

body {
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    //overflow: hidden;
    overflow-x: hidden;
    background-color: $background;
    font-family: sans-serif;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 { 
    font-family: "Hirokawa", sans-serif;
    font-weight: 400;
    color: #fff;
}

.layer-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $layerBackground;
    overflow: hidden;

    .pattern-corner {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 180px;
        height: 180px;
        &.right {
            left: unset;
            right: 20px;
            transform: scaleX(-1);
        }
    }

    .pattern-bottom {
        position: absolute;
        width: 100%;
        height: 400px;
        left: 0;
        bottom: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='70' height='35 '%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");

        .mask {
            position: absolute;
            width: 100%;
            height: 101%;
            top: -1px;
            left: 0;
            background: linear-gradient(360deg, rgba($background, 0.9) 0%, $background 90%);
        }
    }

    .noise {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.35;
    }
}

.layer-clouds-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $layerCloudsAlt;
    overflow: hidden;

    .cloud-alt {
        position: absolute;
        animation: cloud-background 1.5s ease-in-out 500ms forwards;
        opacity: 0;

        &-1 {
            top: 45vh;
            left: 25vw;
            width: 150px;
        }

        &-2 {
            top: 65vh;
            left: 10vw;
            width: 80px;
        }

        &-3 {
            top: 55vh;  
            left: 85vw;
            width: 175px;
        }
    }
}

.layer-lanterns {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $layerCloudsAlt;
    animation: layer-lanterns 2s ease-in-out 500ms forwards;
    opacity: 0;

    .lantern {
        position: absolute;
        top: 0;
        transform-origin: center top;


        &-1 {
            left: 10vw;
            animation: lantern 3s ease-in-out infinite 0ms;
        }

        &-2 {
            left: 20vw;
            animation: lantern 2s ease-in-out infinite 300ms;
        }

        &-3 {
            left: 75vw;
            animation: lantern 2.5s ease-in-out infinite 100ms;
        }
    }
}

.layer-clouds-lower {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $layerCloudsLower;
    overflow: hidden;

    .cloud {
        position: absolute;
        opacity: 0;

        &-1 {
            top: 20px;
            left: 55%;
            width: 300px;
            animation: cloud-right-init 2s ease-in-out 500ms forwards;
        }
    }
}

.layer-sun {
    position: relative;
    z-index: $layerSun;
    padding-top: 40px;
    animation: layer-sun 2s ease-in-out 500ms forwards;
    opacity: 0;

    .sun {
        position: relative;
        margin: 0 auto;
        width: 450px;
        height: 450px;
        background-color: $gold;
        border-radius: 50%;
        box-shadow: 0 0 200px 100px rgba($gold, 0.25);
        //animation: sun 4s ease-in-out infinite;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 110%;
            height: 110%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 2px solid $light;
        }
    }
}

.layer-clouds-upper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $layerCloudsUpper;
    overflow: hidden;

    .cloud {
        position: absolute;
        opacity: 0;

        &-1 {
            right: 60%;
            top: 20%;
            width: 350px;
            animation: cloud-left-init 2s ease-in-out 500ms forwards;
        }

        &-2 {
            left: 55%;
            top: 40%;
            width: 425px;
            animation: cloud-right-init 2s ease-in-out 500ms forwards;
        }
    }
}

.layer-content {
    position: relative;
    z-index: $layerContent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .social-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a.ico {
            cursor: pointer;
            display: block;
            width: 40px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        .social-top {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .line {
                width: 25px;
                border: 0;
                height: 0;
                border-bottom: 3px solid #fff;
            }
        }

        .social-bottom {
            display: flex;
            gap: 20px;

            .social-name {
                flex-grow: 1;

                .name-container {
                    position: relative;
                    border: 2px solid $gold;
                    border-image-slice: 1;
                    border-image-source: linear-gradient(to bottom, $gold, $darkgold);
                    padding: 2px 30px;

                    h1 {
                        position: relative;
                        font-size: 24px;
                        line-height: 30px;
                        background-position-x: center;
                        background-position-y: 0;
                        background-size: 100px 480px;
                        background-image: url("./assets/hanafuda_mask.png");
                        background-repeat: repeat;
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: background-position-y 300ms ease-in-out;
                    }
    
                    .img-container {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            transform: translateY(100%);
                            transition: transform 300ms ease-in-out;
                        }
                    }

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        border: 2px solid $gold;
                        border-image-slice: 1;
                        border-image-source: linear-gradient(to bottom, $gold, $darkgold);
                        width: calc(70% - 4px);
                        height: calc(110% - 4px);
                        top: -5%;
                        left: 15%;
                    }

                    &:hover {
                        h1 {
                            background-position-y: -240px;
                        }

                        .img-container {
                            img {
                                transform: translateY(0) !important;
                            }
                        }
                    }
                }
            }

            .social-side {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    .bottom-text {
        display: flex;
        margin: 60px 0 20px;
        justify-content: center;
        align-items: center;
        color: $light;
        font-size: 20px;
        font-family: "JosefinSans", sans-serif;

        p {
            margin: 0 10px;
        }

        .line {
            width: 50px;
            height: 0;
            border: 0;
            border-bottom: 2px solid $light;

            &.mid {
                width: 30px;
            }
        }

        .dot {
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $light;
        }
    }
}

@media (max-width: 768px) {
    .layer-background {
        .pattern-corner { 
            width: 120px;
            height: 120px;
        }
    }

    .layer-clouds-background {
        display: none;
    }

    .layer-lanterns {
        .lantern {
            &-1 {
                display: none;
            }

            &-2 {
                top: -55px;
                left: calc(40% - 75px);
            }

            &-3 {
                display: none;
            }
        }
    }

    .layer-clouds-lower {
        .cloud {
            &-1 {
                width: 250px;
                top: 20%;
                left: 50%;
            }
        }
    }

    .layer-sun {
        padding-top: 190px;

        .sun {
            width: 75vw;
            height: 75vw;
            max-width: 275px;
            max-height: 275px;
        }
    }

    .layer-clouds-upper {
        .cloud {
            &-1 {
                width: 225px;
                top: 30%;
                right: 80%;
            }

            &-2 {
                width: 275px;
                top: 45%;
                left: 65%;
            }
        }
    }

    .layer-content { 
        
        .bottom-text {
            font-size: 16px;

            .line {
                width: 30px;

                &.mid {
                    width: 20px;
                }
            }
        }
    }
}

@keyframes lantern {
    0% {
        transform: rotateZ(-1deg);
    }
    50% {
        transform: rotateZ(1deg);
    }
    100% {
        transform: rotateZ(-1deg);
    }
}

@keyframes sun {
    0% {
        box-shadow: 0 0 200px 100px rgba($gold, 0.25);
    }
    50% {
        box-shadow: 0 0 200px 100px rgba($gold, 0.1);
    }
    100% {
        box-shadow: 0 0 200px 100px rgba($gold, 0.25);
    }
}

@keyframes cloud-left-init {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    80% {
        transform: translateX(0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes cloud-right-init {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }
    80% {
        transform: translateX(0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes cloud-background {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0.07;
    }
}

@keyframes layer-sun {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes layer-lanterns {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}