@mixin no-drag() {
    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

* {
    padding: 0; 
    margin: 0;
}

// Colors
$background-loading: #02171e;
$background: #021E12;

body {
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $background;
    font-family: sans-serif;
    position: relative;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $background-loading;
    overflow: hidden;
    z-index: 10;

    .loader {
        display: flex;
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
        background-image: url("/assets/shapes/circle_outline_deformed.svg");
        background-repeat: no-repeat;
        background-size: contain;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transition: all 750ms ease;
    }

    .loader-inner {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        mask-image: url("/assets/shapes/circle_deformed.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: #B0A74F;
        transition: transform 350ms ease;
    }

    &.finished {
        .loader, .loader-inner {
            transform: scale(0);
        }

        animation: loader-finished 350ms linear 750ms forwards;
    }
}

@keyframes loader-finished {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(0, 0);
    }
}

.noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/noise.gif");
    background-repeat: repeat;
    pointer-events: none;
    opacity: 0.03;
    @include no-drag;
}

.container {
    position: relative;
    min-width: 100vw;
    min-height: max(100vh, calc(300px + 34vw));

    &::before {
        content: "";
        display: block;
        position: fixed;
        bottom: 0;
        left: -4%;
        width: 25vw;
        aspect-ratio: 1 / 2;
        background-image: url(/assets/shapes/halftone.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(0, 50%) rotateZ(-45deg);
        transform-origin: 15%;
        opacity: 0.025;
        filter: invert(1);
    }

    @media (max-width: 1200px), (max-width: 135vh) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: max(calc(210px - 25vh), 140px);

        &::before {
            display: none;
        }

        .avatar-container {
            position: relative;
            top: unset;
            left: unset;
            transform: none;
            @include no-drag;
        }

        .tear {
            position: unset;
            display: flex;
            min-height: unset;
            background-image: none;
            max-width: 500px;
            height: unset;
            padding: 20px;
            margin-top: 100px;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
            @include no-drag;

            > a {
                position: unset;
            }
        }
    }

    @media (max-width: 768px) {
        padding-top: max(calc(190px - 13vw - 12vh), 140px);

        .avatar-container {
            .dialog-2 {
                display: none;
            }

            .dialog-3 {
                display: none;
            }
        }

        .tear {
            margin-top: 70px;
        }
    }

    @media (max-width: 360px) {
        padding-top: 150px;
    }
}

@property --tear-progress {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@keyframes tear-transition {
    0% {
        --tear-progress: 0%;
        opacity: 0;
    }
    100% {
        --tear-progress: 100%;
        opacity: 1;
    }
}

.avatar-container {
    position: absolute;
    top: max(50vh, 190px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    .avatar {
        opacity: 0;

        .pepe {
            width: 120px;
            object-fit: contain;
            filter: drop-shadow(-6px -4px 0 #000);
            @include no-drag;
        }

        .mask {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            mask-image: url("/assets/pepe.png");
            mask-size: 120px;
            mask-repeat: no-repeat;
        }

        .halftone {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.2;
            @include no-drag;

            img {
                transform: rotateZ(-45deg);
                margin-left: -4px;
            }
        }
    }

    .dialog {
        position: absolute;
        opacity: 0;
        transform-origin: bottom left;
        @include no-drag;

        > span, a {
            position: absolute;
            width: 100%;
            font-size: 31px;
            font-family: Margarine;
            font-weight: bolder;
            text-align: center;
            letter-spacing: 4px;

            span {
                color: #F1EBE0;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 5px;
                    bottom: 5px;
                    background-color: #000;
                    z-index: -2;
                }
            }
        }
    }

    .dialog-1 {
        top: -138px;
        left: -79px;

        > span, a {
            left: -11px;
            top: 34px;
            transform: rotateZ(-15deg);
        }
    }

    .dialog-2 {
        right: -258px;
        top: -27px;

        span {
            font-size: 22px;
            top: 18px;
            left: 19px;
            transform: rotateZ(-3deg);
            letter-spacing: 3px;
        }
    }

    .dialog-3 {
        bottom: -69px;
        right: -233px;

        > img {
            transition: filter 300ms ease;
        }

        a {
            z-index: 1;
            left: 33px;
            top: 12px;
            transform: rotateZ(4deg);
            color: inherit;
            text-decoration: none;
        
            img {
                padding-bottom: 5px;
                margin-right: -5px;
                transition: transform 300ms ease;
            }

            &:hover {
                + img {
                    filter: drop-shadow(2px 4px 7px black) hue-rotate(270deg);
                }

                img {
                    transform: translateX(5px);                    
                }
            }
        }

        .gh {
            position: absolute;
            top: -13px;
            left: 82px;
            mask-image: url("/assets/shapes/dialog3.svg");
            mask-position: -82px 13px;
            mask-repeat: no-repeat;

            img {
                transform: rotateZ(5deg);
                opacity: 0.2;
            }
        }
    }

    &.active {
        .avatar {
            animation: avatar-show 400ms ease forwards;
        }

        .dialog-1 {
            animation: dialog-1-show 450ms ease 400ms forwards;
        }

        .dialog-2 {
            animation: dialog-2-show 500ms ease 600ms forwards;
        }

        .dialog-3 {
            animation: dialog-3-show 400ms ease 800ms forwards;
        }
    }
}

@keyframes avatar-show {
    0% {
        opacity: 0;
        transform: rotateY(60deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
@keyframes dialog-1-show {
    0% {
        opacity: 0;
        transform: translate(-3px, 20px);
        rotate: 0deg;
    }
    30%, 40% {
        rotate: -10deg
    }
    70% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        rotate: 0deg;
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes dialog-2-show {
    0% {
        opacity: 0;
        transform: translate(-9px, -11px);
    }
    60% {
        transform: translate(8px, 3px);
        rotate: 6deg
    }
    100% {
        rotate: 0deg;
        opacity: 1;
        transform: translate(0, 0);        
    }
}
@keyframes dialog-3-show {
    0% {
        opacity: 0;
        transform: translate(-4px, -18px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.tear {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 900px;
    width: 100%;
    background-image: url("/assets/shapes/tear.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    mask-image: linear-gradient(135deg, #fff 0%, #fff var(--tear-progress), #ffffff00 var(--tear-progress));
    -moz-mask-image: none !important;
    pointer-events: none;
    box-sizing: border-box;

    @media (min-width: 2560px) {
        min-height: 50vw;
    }

    &.active {
        animation: tear-transition 500ms linear forwards;
    }

    > a {
        position: absolute;
        display: flex;
        width: 70px;
        height: 70px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 3px black;
        pointer-events: all;
        opacity: 0;
        transition: opacity 100ms ease;

        > div {
            transform: rotateZ(45deg);
        }

        img {
            display: block;
            width: 44px;
            height: 44px;
            transform: rotateZ(-45deg);
            @include no-drag;
        }

        &.active {
            animation: link-show 300ms ease forwards;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            background-color: #fff;
            display: flex;
            width: 55px;
            height: 55px;
            justify-content: center;
            align-items: center;
            border: 2px solid #000;
            z-index: -1;
            transition: transform 400ms ease;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 90%;
            aspect-ratio: 1 / 2;
            top: 50%;
            left: -20px;
            transform: translateY(-50%) rotateZ(-45deg);
            z-index: -2;
            background-image: url("/assets/shapes/halftone.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }

        @media (min-width: 2000px) {
            width: 4vw;
            height: 4vw;

            &::before {
                width: 3.2vw;
                height: 3.2vw;
            }

            img {
                width: 3vw;
                height: 3vw;
            }
        }

        &:hover {
            &::before {
                transform: rotateZ(180deg) scale(3);
            }
        }
    }

    .gh {
        top: max(calc(20.5vh + 20.5vw), 500px);
        left: calc(20.5vw + 20.5vh);
        transform: rotateZ(44deg);
        
        &::before {
            background-color: #6F71A3;
            transform: rotateZ(-6deg);
        }

        img {
            transform: rotateZ(-44deg);
        }
    }

    .li {
        left: calc(22vw + 22vh);
        top: max(calc(24vh + 24vw), 600px);
        transform: rotateZ(48deg);
        
        &::before {
            background-color: #617FCC;
        }

        img {
            transform: rotateZ(-48deg);
        }
    }

    .mail {
        left: calc(25vw + 25vh);
        top: max(calc(21.75vh + 21.75vw), 540px);
        transform: rotateZ(44deg);
        
        &::before {
            background-color: #C7B178;
            transform: rotateZ(-2deg);
        }

        img {
            transform: rotateZ(-44deg);
        }
    }

    .tw {
        left: calc(25.5vw + 25.5vh);
        top: max(calc(26vh + 26vw), 660px);
        transform: rotateZ(41deg);
        
        &::before {
            background-color: #7DB1BC;
            transform: rotateZ(5deg);
        }

        img {
            transform: rotateZ(-41deg);
        }
    }

    .cs {
        left: calc(29vw + 29vh);
        top: max(calc(24vh + 24vw), 600px);
        transform: rotateZ(41deg);
        
        &::before {
            background-color: #6774E9;
            transform: rotateZ(5deg);
        }

        img {
            transform: rotateZ(-41deg);
        }
    }

    .hr {
        left: calc(28.5vw + 28.5vh);
        top: max(calc(28.5vh + 28.5vw), 720px);
        transform: rotateZ(44deg);
        
        &::before {
            background-color: #78BB9B;
            transform: rotateZ(2deg);
        }

        img {
            transform: rotateZ(-44deg);
        }
    }

    .pi {
        left: calc(31.5vw + 31.5vh);
        top: max(calc(26.5vh + 26.5vw), 665px);
        transform: rotateZ(44deg);
        
        &::before {
            background-color: #B87474;
            transform: rotateZ(-1deg);
        }

        img {
            transform: rotateZ(-46deg);
        }
    }

    .mal {
        left: calc(32.5vw + 32.5vh);
        top: max(calc(30vh + 30vw), 760px);
        transform: rotateZ(44deg);
        
        &::before {
            background-color: #7686DA;
            transform: rotateZ(-10deg);
        }

        img {
            transform: rotateZ(-44deg);
        }
    }
}

@keyframes link-show {
    0% {
        opacity: 0;
        scale: 0.8;
    }
    50% {
        opacity: 0.6;
        scale: 1.1;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}