

/* VARIABLES  */
:root{
    --color-main: #16213e;
    --color-main2: #1d2d50;
    --color-main-dark: #14203c;
    --color-second: #903749;
    --color-second2: #e84545;
    --color-text: #f0ece2;
    --color-highlight: #1e5f74;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
}
/*  DEFAULT STYLES  */
html{
    font-size: 16px;
}

h1,h2,h3,h4,h5{
    font-family: "Source sans pro";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

p,span,button,a, option, li{
    text-decoration: none;
    font-family: "Ubuntu";
    /*color: var(--color-text);*/
    color: inherit;
}

.btn{
    border-radius: 0;
    padding: 0.1em 0.2em;
}

/*  FONT STYLES  */
.font-roboto{
    font-family: "Roboto";
}
.font-sspro{
    font-family: "Source sans pro";
}
.font-ubuntu{
    font-family: "Ubuntu";
}

/*  COLOR STYLES  */
.text-main{
    color: var(--color-main);
}
.text-main2{
    color: var(--color-main2);
}
.text-second{
    color: var(--color-second);
}
.text-second2{
    color: var(--color-second2);
}
.text-text{
    color: var(--color-text);
}
.text-highlight{
    color: var(--color-highlight);
}
.text-white{
    color: var(--color-white);
}

/*  BACKGROUND COLOR STYLES  */
.bg-main{
    background-color: var(--color-main);
}
.bg-main2{
    background-color: var(--color-main2);
}
.bg-main-dark{
    background-color: var(--color-main-dark);
}
.bg-second{
    background-color: var(--color-second);
}
.bg-second2{
    background-color: var(--color-second2);
}
.bg-text{
    background-color: var(--color-text);
}
.bg-highlight{
    background-color: var(--color-highlight);
}
.bg-white{
    background-color: var(--color-white);
}


@media screen and (max-width: 560px){
    html{
        font-size: calc(1rem*0.8);
    }
}

@media screen and (max-width: 1440px){
    html{
        font-size: calc(1rem*0.9);
    }
}

@media screen and (min-width: 2560px){
    html{
        font-size: calc(1rem*1.4);
    }
}

@media screen and (min-width: 3840px){
    html{
        font-size: calc(1rem*2);
    }
}